# Database
DATABASE_URL="postgresql://<username>:<password>@localhost:5432/<database_name>"
#Vercel Blob
BLOB_READ_WRITE_TOKEN="<vercel_blob_rw_token>"


# Next Auth
AUTH_GOOGLE_ID="<google_client_id>"
AUTH_GOOGLE_SECRET="<google_client_secret>"
AUTH_SECRET="<auth_secret>"
AUTH_URL="http://localhost:3000"



# Utils 
PUBLIC_SITE_URL="http://localhost:3000"
